{% extends 'agenda/base.html' %} 

  {% block contenido%}

<div class="bg-light rounded-4 py-5 px-4 px-md-5">
  <div class="text-center mb-5">
    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-lock-fill"></i></div>
        <h1 class="fw-bolder">Inicia Sesión</h1>
        <p class="lead fw-normal text-muted mb-0">Accedé con tus datos registrados</p>
    </div>
  <div class="row gx-5 justify-content-center">
  <div class="col-lg-8 col-xl-6">

<form method="post">
 {% csrf_token %}
 {{ form.as_p }}

 <div class="d-grid">
 <input type="submit" class="btn btn-outline-dark " value="Iniciar Sesión" />
 </div>
</form>

  </div>
  </div>
  </div>
</div>
  {% endblock contenido%}
