{% extends 'agenda/base.html' %} {% block contenido%}

<div class="text-center text-xxl-start">
  <div class="badge bg-gradient-primary-to-secondary text-white mb-4">
    <div class="text-uppercase">&middot; Mi Perfil &middot;</div>
  </div>
</div>

{% comment %} 
      <div class="shadow border-0 rounded-4">
      <div class="col-xxl-5 gx-5">
        <img 
            src="{{ user.avatar.imagen.url }}"
            class="w-25 mx-auto d-block"
            alt="Imagen de Perfil"
          />
                      <p class="display-6 fw-bolder">
              <span class="text-gradient d-inline"
                >{{user.last_name}}, {{user.first_name}}
              </span>
            </p>
            <p class="lead fw-normal text-muted mb-0">{{user.email}}</p>

      </div>
      </div> 
 {% endcomment %}
      {% comment %} <div class="shadow border-0 rounded-4">
      <p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Editar Perfil
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
          <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <input type="submit" class="btn btn-outline-dark" value="Guardar" />
          </form>
  </div>
</div>
</div> {% endcomment %}

  <div class="row px-5 pb-5">
    <div class="col-sm-20 col-md-10 col-lg-7">
      <div class="card w-75 cardExcursion mx-auto d-block">
        <div class="content">
          <div class="content-overlay"></div>
            {% if user.avatar.imagen.url %}      
              <img src="{{ user.avatar.imagen.url }}" class="card-img-top">
            {% else %} 
              <a class="btn btn-outline-secondary btn-md mb-5" href="{% url 'agregar_avatar'%}"> Subir Imagen de Perfil</a>
            {% endif %}

          <div class="card-body">
            <p class="display-6 fw-bolder">
              <span class="text-gradient d-inline"
                >{{user.last_name}}, {{user.first_name}}
              </span>
            </p>
            <p class="lead fw-normal text-muted mb-0">{{user.email}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xxl-5 gx-5">
      <div class="bg-light rounded-4 py-5 px-4 px-md-5">
        <h3 class="text-black d-inline">Edita tus datos</h3>
        <hr />
        <div class="col-lg-8 col-xl-12">
          <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <input type="submit" class="btn btn-outline-dark" value="Guardar" />
          </form>
        </div>
      </div>
    </div>
  </div> 

  {% endblock contenido%}
</div>
