{% extends 'agenda/base.html' %} {% load static %}{% block contenido%}

<!-- About Section-->
<section class="bg-light py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-xxl-8">
        <div class="text-center my-5">
          <h2 class="display-5 fw-bolder">
            <span class="text-gradient d-inline">¡Bienvenido a nuestra web!</span>
          </h2>
          <p class="lead fw-light mb-4">
            Gestioná tus turnos  | Seguí tu evolución | Consulta y compartí recetas
          </p>
          <img class="profile-img" src="{% static 'img/fr.png' %}"/>
          <p class="text-muted">
           Encontrá todo lo que necesitas para llevar una alimentación balanceada y mejorar tu calidad de vida.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock contenido%}
